.main {
    width: 100%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;


    .form-card {
        margin: 1em;
        width: 100%;
    }


    .card-button {
        display: flex;
        justify-content: end;
        padding-bottom: 1rem;
    }

    mat-card {
        padding: 1em 2em 0.7em 0em;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        // max-width: 700px;
        margin-bottom: 3rem;
    }

    .example-card {
        width: 300px;
        margin-bottom: 16px;
        margin-right: 6px;
        margin-left: 8px;
        overflow: hidden;
        /* prevent content overflow */
    }

    .title-group {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        /* ensure flexbox truncation works */
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    mat-card-md-image {
        max-width: 80px;
        max-height: 80px;
        object-fit: contain;
        flex-shrink: 0;
        /* prevent shrinking */
    }

    mat-card-title-group {
        padding-right: 1em;
    }

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
    border: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

